<tr>
    <td align="center" style="padding: 70px 15px 70px 15px;" class="section-padding">
        <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
            <tr>
                <td align="center" valign="top" width="500">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 500px;"
                           class="responsive-table">
                        <tr>
                            <td>
                                <!-- HERO IMAGE -->
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center" class="padding">
                                            <a href="http://litmus.com" target="_blank"><img src="/image/logo.png"
                                                                                             width="350"
                                                                                             height="150" border="0"
                                                                                             alt="Insert alt text here"
                                                                                             style="display: block; padding: 0; color: #266e9c; text-decoration: none; font-family: Helvetica, arial, sans-serif; font-size: 16px;"
                                                                                             class="img-max"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <!-- COPY -->
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td align="center"
                                                        style="font-size: 30px; font-family: Helvetica, Arial, sans-serif;  padding-top: 75px;"
                                                        class="padding-copy">
                                                        <span style="color: #e63c35; line-height:2"><%=data.MAIL_REGISTRATION_TITLE_1%> </span><br>
                                                        <span style="line-height: 1"><%=data.MAIL_REGISTRATION_TITLE_2%></span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center"
                                                        style="font-size: 15px; color: #a99d9d; font-family: Helvetica, Arial, sans-serif;  padding-top: 40px; padding-bottom: 40px;"
                                                        class="padding-copy">
                                                        <%=data.MAIL_REGISTRATION_LOGIN_PARAGRAPH_1%><br>
                                                        <%=data.MAIL_REGISTRATION_LOGIN_PARAGRAPH_2%>
                                                    </td>
                                                </tr>
                                                <tr class="mobile-button-container">
                                                    <td align="center" style="border-radius: 3px;"
                                                        bgcolor="#d2283b"><a href="https://litmus.com"
                                                                             target="_blank"
                                                                             style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; border-radius: 3px; padding: 15px 25px; display: inline-block;"
                                                                             class="mobile-button">
                                                            <%=data.MAIL_REGISTRATION_LOGIN_NOW%>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>