<tr>
    <td bgcolor="#ffffff" align="center" style="padding: 0px 15px 0px 15px;" class="section-padding">
        <table border="0" cellpadding="0" cellspacing="0" width="500" style="padding:0 0 20px 0;"
               class="responsive-table">
            <tr>
                <td align="center" height="100%" valign="top" width="100%" style="padding-bottom: 0px;">
                    <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
                        <tr>
                            <td align="center" valign="top" width="500">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
                                       style="max-width:500;">
                                    <tr>
                                        <td align="center" valign="top" style="font-size:0;">
                                            <table align="center" border="0" cellspacing="0" cellpadding="0"
                                                   width="500">
                                                <tr>
                                                    <td align="center" valign="top" width="350">
                                                        <div style="display:inline-block; margin: 0 -2px; max-width:350px; vertical-align:top; width:100%;"
                                                             class="wrapper">

                                                            <table align="left" border="0" cellpadding="0"
                                                                   cellspacing="0" width="100%"
                                                                   style="max-width: 325px; float: right;"
                                                                   class="wrapper">
                                                                <tr>
                                                                    <td style="padding: 0 0 0 0;"
                                                                        class="no-padding">
                                                                        <!-- ARTICLE -->
                                                                        <table border="0" cellspacing="0"
                                                                               cellpadding="0" width="100%">
                                                                            <tr>
                                                                                <td align="center"
                                                                                    style="padding: 0 0 10px 0; color: #d2293b;  font-size: 30px; font-family: Helvetica, Arial, sans-serif; font-weight: normal;"
                                                                                    class="padding-copy"><%= data.MAIL_NEWCAMPAIGN_CAMPAIGN_NAME %>
                                                                                    <span id="newCampaignName">
                                                                                    </span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center"
                                                                                    style="padding: 0 0 5px 0; color: #d2293b;  font-size: 30px; font-family: Helvetica, Arial, sans-serif; font-weight: normal;"
                                                                                    class="padding-copy"><%= data.MAIL_NEWCAMPAIGN_EARN_MAX %>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="center"
                                                                                    style="padding: 10px 0 15px 0; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color: #d2293b;  font-size: 30px;"
                                                                                    class="padding-copy">
                                                                                         <span id="new-campaign-body-var">
                                                                                          <%= data.campaign.maxPublisherRevenue %>
                                                                                            </span> Euros
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td bgcolor="#ffffff" align="center" style="padding: 0px 15px 0px 15px;" class="section-padding">
        <table border="0" cellpadding="0" cellspacing="0" width="500" style="padding:0 0 20px 0;"
               class="responsive-table">
            <tr>
                <td align="center"
                    style="padding: 10px 0 15px 0; font-size: 54px; line-height: 1; font-family: Helvetica, Arial, sans-serif; color: #666666;"
                    class="padding-copy">
                        <span id="newCampaignTitle">
                        </span>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <a href="https://app.valueyournetwork.com"
                       target="_blank">
                        <img id="postUrl" src=""
                             border="0"
                             alt="Insert alt text here"
                             style="width:100%;display: block; color: #666666;  font-family: Helvetica, arial, sans-serif; font-size: 16px;"
                             class="img-max">
                    </a>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td bgcolor="#ffffff" align="center" style="padding: 0px 15px 25px 15px;" class="section-padding">
        <table border="0" cellpadding="0" cellspacing="0" width="500" style="padding:0 0 20px 0;"
               class="responsive-table">
            <tr>
                <td align="center" height="100%" valign="top" width="100%" style="padding-bottom: 35px;">
                    <table align="center" border="0" cellspacing="0" cellpadding="0" width="500">
                        <tr>
                            <td align="center" valign="top" width="500">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%"
                                       style="max-width:500;">
                                    <tr>
                                        <td align="center" valign="top" style="font-size:0;">
                                            <table align="center" border="0" cellspacing="0" cellpadding="0"
                                                   width="500">
                                                <tr>
                                                    <td align="center" valign="top" width="350">
                                                        <div style="display:inline-block; margin: 0 -2px; max-width:350px; vertical-align:top; width:100%;"
                                                             class="wrapper">

                                                            <table align="left" border="0" cellpadding="0"
                                                                   cellspacing="0" width="100%"
                                                                   style="max-width: 325px; float: right;"
                                                                   class="wrapper">
                                                                <tr>
                                                                    <td style="padding: 0 0 0 0;"
                                                                        class="no-padding">
                                                                        <!-- ARTICLE -->
                                                                        <table border="0" cellspacing="0"
                                                                               cellpadding="0" width="100%">
                                                                            <tr>
                                                                                <td class="padding" align="center"
                                                                                    style="font-size: 16px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color: #666666; padding-top: 3%;">
                                                                                    <%= data.MAIL_NEWCAMPAIGN_POST_ON_NETWORKS %>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="padding" align="center"
                                                                                    style="font-size: 16px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color: #666666; padding-top: 5%; padding-bottom: 10%;">
                                                                                    <a target="_blank"
                                                                                       href="https://www.facebook.com/share.php?u=http%3A%2F%2Fwww.valueyournetwork.com&display=popup&ref=plugin&src=share_button">
                                                                                        <img id="facebook"
                                                                                             style="background-color: #3b5998; border-radius: 50%; "
                                                                                             src="/images/networks/facebook.png"
                                                                                             alt=""/></a>
                                                                                    <a target="_blank"
                                                                                       href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.valueyournetwork.com">
                                                                                        <img id="linkedin"
                                                                                             style="background-color: #007bb6; border-radius: 50%; "
                                                                                             src="/images/networks/linkedin.png"
                                                                                             alt=""/></a>
                                                                                    <a target="_blank"
                                                                                       href="https://twitter.com/share?url=http%3A%2F%2Fwww.valueyournetwork.com">
                                                                                        <img id="twitter"
                                                                                             style="background-color: #00aced; border-radius: 50%; "
                                                                                             src="/images/networks/twitter.png"
                                                                                             alt=""/></a>
                                                                                </td>
                                                                            </tr>
                                                                            <tr class="mobile-button-container">
                                                                                <td align="center"
                                                                                    style="border-radius: 3px;"
                                                                                    bgcolor="#d2283b"><a
                                                                                            href="https://litmus.com"
                                                                                            target="_blank"
                                                                                            style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; border-radius: 3px; padding: 15px 25px; display: inline-block;"
                                                                                            class="mobile-button">
                                                                                        <%= data.MAIL_NEWCAMPAIGN_PARTICIPATE %>
                                                                                    </a></td>

                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td bgcolor="#ffffff" align="center" style="padding: 25px 15px 40px 15px;" class="section-padding">
        <hr>
        <table border="0" cellpadding="0" cellspacing="0" width="500" class="responsive-table">
            <tr>
                <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>
                                <!-- COPY -->
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center"
                                            style="line-height: 1.5; font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #d2283b; padding-top: 30px; padding-bottom: 10%;"
                                            class="padding-copy"><%= data.DOWNLOAD_MOBILE_APPLICATIONS %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center"
                                            style="padding: 0 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666; padding-bottom: 10%;"
                                            class="padding-copy">
                                            <a href="https://itunes.apple.com/ua/app/value-your-network/id1106947405?mt=8">
                                                <img
                                                        style="width: 60%;"
                                                        id="ios"
                                                        src="/images/ios.png" alt=""/>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center"
                                            style="padding: 0 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666; padding-bottom: 10%;"
                                            class="padding-copy">
                                            <a href="https://play.google.com/store/apps/details?id=com.valueyournetwork&hl=fr">
                                                <img
                                                        style="width: 60%;"
                                                        id="android"
                                                        src="/images/android.png" alt=""/>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <hr>
                                <!-- BULLETPROOF BUTTON -->
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center" style="padding-top: 25px;" class="padding">
                                            <table border="0" cellspacing="0" cellpadding="0"
                                                   class="mobile-button-container">
                                                <tr>
                                                    <td align="center"
                                                        style="font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #d2283b; padding-top: 30px; padding-bottom: 1%;"
                                                        class="padding-copy">
                                                        <%= data.MAIL_REGISTRATION_SHARE_THIS_1 %>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center"
                                                        style="font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #d2283b; padding-top: 10px; padding-bottom: 2%;"
                                                        class="padding-copy">
                                                        <%= data.MAIL_REGISTRATION_SHARE_THIS_2 %>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="padding" align="center"
                                                        style="font-size: 16px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color: #666666; padding-top: 3%;">
                                                        <a target="_blank"
                                                           href="https://www.facebook.com/share.php?u=http%3A%2F%2Fwww.valueyournetwork.com&display=popup&ref=plugin&src=share_button">
                                                            <img id="facebook"
                                                                 style="background-color: #000; border-radius: 50%; "
                                                                 src="/images/networks/facebook.png" alt=""/></a>
                                                        <a target="_blank"
                                                           href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.valueyournetwork.com">
                                                            <img id="linkedin"
                                                                 style="background-color: #000; border-radius: 50%; "
                                                                 src="/images/networks/linkedin.png" alt=""/></a>
                                                        <a target="_blank"
                                                           href="https://twitter.com/share?url=http%3A%2F%2Fwww.valueyournetwork.com">
                                                            <img id="twitter"
                                                                 style="background-color: #000; border-radius: 50%; "
                                                                 src="/images/networks/twitter.png" alt=""/></a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>