<tr>
    <td bgcolor="#ffffff" align="center" style="padding: 20px 0px;">
        <hr style="width: 50%; margin-bottom: 4%;">
        <table align="center" border="0" cellspacing="0" cellpadding="0" width="70%">
            <tr>
                <td align="center" valign="top" width="500">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center"
                           style="max-width: 500px;" class="responsive-table">
                        <tr>
                            <td align="center"
                                style="font-family: Helvetica, Arial, sans-serif;
                                font-size: 17px; color: rgba(102, 102, 102, 0.58);">
                                <span style="position:relative; bottom: 15px;"><%=data.MAIL_ALL_COPYRIGHT%></span>
                                <br>
                                <%=data.MAIL_ALL_FOOTER_1%>
                                <br>
                                <%=data.MAIL_ALL_FOOTER_2_STR%>
                                <br>
                                <a href="http://litmus.com" target="_blank"
                                   style="color: rgba(102, 102, 102, 0.58); text-decoration: none;"> <%=data.MAIL_ALL_FOOTER_3%></a>
                                <a href="http://litmus.com" target="_blank"
                                   style=" color: #e13839;text-decoration: none;"> <%=data.MAIL_ALL_FOOTER_4%></a>
                                <br>
                                <a href="http://litmus.com" target="_blank"
                                   style="color: rgba(102, 102, 102, 0.58); text-decoration: none;"> <%=data.MAIL_ALL_NO_EMAIL_1%></a>
                                <a href="http://litmus.com" target="_blank"
                                   style="text-decoration: none;"> <%=data.MAIL_ALL_NO_EMAIL_2%>.</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </td>
</tr>